body {
  background: #161515;
  color: #eee;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 90vw;
  }
}
@media only screen and (min-width: 1000px) {
  .container {
    width: 50vw;
  }
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.preview {
  border: 2px solid white;
  height: 10vh;
}

.preview * {
  height: 50%;
}

.favorites ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.favorite-thumb {
  position: relative;
  width: 18vw;
  height: 10vh;
  border: 1px solid #ddd;
}
.favorite-thumb img {
  width: 100%;
  height: 100%;
}
.favorite-thumb p {
  margin: 0;
  position: absolute;
  left: 5%;
  bottom: 8%;
  text-shadow: 0.1em 0.1em 0.2em black;
  font-size: 14pt;
  font-weight: bold;
  font-family: sans-serif;
}

ul.no-indent {
  padding-left: 0;
}

#schedule {
  display: block;
  margin: auto;
  border: 1px solid white;
  width: 18vw;
}
#schedule img {
  width: 100%;
}

.schedule-element {
  display: block;
}

#rooms {
    display: flex;
    justify-content: center;
}
#rooms span {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 24px;
    font-family: sans-serif;
}
#rooms input[type="checkbox"] {
    height: 6vh;
    width: 6vh;
}

/* Clock styling */
.clock-timepicker {
  width: 100%;
}
input.time {
  min-width: 0 !important;
  border: 2px solid gray !important;
  border-radius: 4px;
  width: 5em;
  text-align: center;
  display: block;
  margin: 0.25rem auto;
}