body {
  background: #282525;
  color: #eee;
  font-size: 30px;
  margin: 0;
  width: 100vw;
}
.material-icons {
  font-size: 50px !important;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 90vw;
  }
}
@media only screen and (min-width: 1000px) {
  .container {
    width: 50vw;
  }
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.preview {
  border: 2px solid white;
  height: 10vh;
}

.preview * {
  height: 50%;
}

.favorites ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.favorite-thumb {
  position: relative;
  width: 12em;
  height: 6em;
  border: 2px solid gray;
  border-radius: 4px;
  margin: 0.25rem;
}
.favorite-thumb img {
  width: 100%;
  height: 100%;
}
.favorite-thumb p {
  margin: 0 0.2em;
  position: absolute;
  left: 5%;
  bottom: 8%;
  text-shadow: 0.1em 0.1em 0.2em black;
  font-family: sans-serif;
}

ul.no-indent {
  padding-left: 0;
}

#schedule {
  display: block;
  margin: auto;
  width: 50rem;
}
#schedule .schedule-element {
  border: 1px solid #eee;
  border-radius: 5px;
  margin: 5rem 0;
  padding: 2rem;
}
#schedule img {
  width: 100%;
}

#schedule-editor-content {
  font-size: 30px;
}
#schedule-editor-content div.time-input {
  display: inline-block;
}
#schedule-editor-content input[type="time"] {
  font-size: 70px;
}
#schedule-editor-content span.day-of-week-input,
#schedule-editor-content span.room-input {
  display: inline-block;
}
#schedule-editor-content span.day-of-week-input>* {
  display: block;
}
#schedule-editor-content input[type="checkbox"] {
  width: 3em;
  height: 3em;
}
#schedule-editor-content .schedule-input-row {
  margin: 2rem 0;
}

#rooms {
    display: flex;
    justify-content: center;
}
#rooms span {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-family: sans-serif;
}
#rooms input[type="checkbox"] {
    height: 8em;
    width: 8em;
}

#wemos {
    width: 100%;
    margin: 1rem;
    display: flex;
    justify-content: center
}
#wemos button {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 2rem;
    font-family: sans-serif;
}

header {
  width: 100%;
  top: 0;
  left: 0;
  background: #323030;
  margin: 0;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #323030;
}
footer nav {
  display: flex;
  padding: 1rem 0 0 0;
}
footer nav button {
  flex-grow: 1;
  margin: 0.5rem;
  border: none;
  padding: 0.5rem;
}
footer nav button.active {
  background-color: #ddeeff;
}