body {
  background: black;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 90vw;
  }
}
@media only screen and (min-width: 1000px) {
  .container {
    width: 50vw;
  }
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
}

input[type="range"] {
  border-width: 5px;
  background: #111;
  width: calc(100% - 15px);
  margin: 10px;
}
